nav img {
    max-height: 2em;
    border: 1pt solid #ddd;
    border-radius: 0.5ex;
    padding: 0.5ex;
    margin-right: 0.5ex
}

nav a {
    color: darkblue;
    text-decoration: none;
    line-height: normal;
    vertical-align: middle;
    display: flex;
    align-items: center;
    margin-left: 2ex;
}

nav {
    margin-left: 2ex;
    margin-top: 2ex;
    display: flex;
    align-items: center;
}

main {
    max-width: 70ex;
    margin: auto;
    padding: 2ex;
    margin-top: 1em;
}

figure {
    text-align: center;
}

figure img {
    max-width: 100%;
}

table {
    width: 100%;
}

footer {
    text-align: center;
}

.pride {
    display: inline-block;
    width: 10ex;
    aspect-ratio: 14 / 9;
    background: linear-gradient(#59cbe8 20%, #F5ACB9 0 40%, white 0 60%, #F5ACB9 0 80%, #59cbe8 0);
    box-shadow: 0 0 0 0.5px;
}

td,
th {
    border-bottom: 0.1rem solid #e1e1e1;
    padding: 1.2rem 1.5rem;
}

td:first-child,
th:first-child {
    padding-left: 0;
}

td:last-child,
th:last-child {
    padding-right: 0;
}

.thm, .proof, .problem, .solution {
    padding-left: 1ex;
    border-left: 0.5ex solid lightgray;
}

.thm::before {
    content: '定理';
    font-weight: bold;
}

.proof::before {
    content: '证明';
    font-weight: bold;
}

.problem::before {
    content: '问题';
    font-weight: bold;
}

.solution::before {
    content: '解';
    font-weight: bold;
}